*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 3rem;
    text-align: center;
}
main{
    max-width: 480px;
    margin: 3rem auto;
}
fieldset{
    margin: 1rem auto;
    padding: 1rem;
    /* border-radius: 10px para redondear bordes*/
}
input{
    border-radius: 5px;
    padding: .5rem;
    text-align: left;
}
.personales{ 
    input{
        width: 100%;
    }
    div{
        margin-top: 1rem;
    }
    p{  /*parrafo vacío para los errores, mejor darle propiedades aunque esté vacío*/
        font-size: .8rem;
        color: red;
        height: 1.5rem;   /*para que no mueva el diseño cuando tenga valor despues*/
    }
}
.reserva{
    display: flex;
    gap: .6rem;  /*para separarlos entre ellos*/
    
    div{
        width: 100%;
    }
    input{
        width: 100%;    /*para que ocupen toda la anchura siempre que puedan*/
    }
}
input[type="radio"]{    /*seleccionar input por atributo*/
    accent-color: darkgreen;    /*color circulito*/
}
input[type="radio"]:checked + label{    /*labels despues de input type radio*/
    color: darkgreen;                   /*checked- el que tenga el cheked*/
}
input:focus{
    background-color: #f2c564b4;
}
.botones{
    display: flex;
    justify-content: space-between;
    button{
        padding: 10px 20px;
        border-radius: 5px;
    }
    .reservar{
    background-color: darkgreen;
    color: white
    }
    .cancelar{
        background-color: pink;
    }
}
.reservar:hover, .cancelar:hover{    /*para as 2 clases a la vez*/
    cursor: pointer;    /*para pasar de flecha a mano*/
}
dialog{
    width: 80%;
    margin: auto;   /*que quede centrado*/
    background-color: ivory;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
    text-align: center;

    h2{
        border-bottom: 2px solid black;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.2 rem;
        margin: 1rem 0;
        color: gray;
        text-align: left;
    }
    .textoPrincipal{
        color: black;
    }
    form{
        border-top: 2px solid black;
        margin-top: 3rem;
    }
    button{
        padding: 10px 20px;  /*buttons siempre necesitan un padding*/
        border-radius: 5px;
        margin: 1rem;
        background-color: sandybrown;
        border-color: sandybrown;

        &:hover{
            background-color: #f2c564;
            border-color: #f2c564;
            cursor: pointer;    /*para que el cursor cambie a la mano*/
        }

    }
}